{
    "name": "Career",
    "colors": ["#cb202d", "#dc1e28", "#3366cc"]
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 600px;
    min-height: 600px;
    border: 2px solid black;
}

h1 {
    margin: 10px;
    color: #f5f6fa;
}

input {
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}